<!-- header

Contains

  Site title, clickable, redirects to /home
  Shows "Welcome, Sign in", redirects to /login, else if logged in, shows "Signed in as [name]"
  Shows [Seller Name] under title when on /:sellerid (seller's page)
  Shows [Category] under title when on /:categoryid

-->

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<!-- <style>
  body { padding-top:50px; }
</style> -->
<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Shoe Website</a>
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li> -->
      <% if (!locals.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Sign in</a>
        </li>
      <% } else {%>
        <%= locals.user %>
      <% } %>
    </ul>
  </nav>

