<!-- header

Contains

  Site title, clickable, redirects to /home
  Shows "Welcome, Sign in", redirects to /login, else if logged in, shows "Signed in as [name]"
  Shows [Seller Name] under title when on /:sellerid (seller's page)
  Shows [Category] under title when on /:categoryid

-->

<header>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/home">Shoe Website</a>
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
</header>
