<%- include('partials/_header') %>

<form id="addItem" action="" method="POST">
  <label for="name">Name</label>
  <input type="textarea" name="name"/>
  <label for="info">Info</label>
  <input type="textarea" name="info"/>
  <label for="size">Size</label>
  <input type="text" name="size"/>
  <label for="category">Category</label>
  <input type="text" name="category"/>
  <label for="color">Color</label>
  <input type="text" name="color"/>
  <label for="brand">Brand</label>
  <input type="text" name="brand"/>
  <label for="price">Price</label>
  <input type="text" name="price"/>
  <label for="photo">Photo</label>
  <input type="text" name="photo"/>
  <label for="seller">Seller</label>
  <input type="text" name="user_id"/>
  <button type="submit">Add Item</button>
</form>

<%- include('partials/_footer') %>
