<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">

<%- include('partials/_header') %>
<!-- /:login

  Does not show "sign in/out" on header partial

  POST Input fields for name/password
  returns an error message if invalid entry,
  else redirects to /home, showing "signed in as [name]" and a sign out button, posting to /logout

-->
<main style="margin: 1em;">
  <h3>All Your Chat Conversation with Other Users </h3>
  <div>
    <% for(let chat in data) { %>

      <h2><b>Chat:  <a href="/chats/<%= data[chat]['id'] %>"><%= data[chat]['id'] %> </a></b></h2>
      <h2>  </h2>

    <% } %>
  </div>
  </body>

</main>

  <%- include('partials/_footer') %>

</html>
