<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <!-- header styling -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/universal_layout.css" type="text/css" />
</head>

<header>
  <%- include('partials/_header') %>
</header>

<main style="margin: 1em;">
  <h3>All Your Chat Conversation with Other Users </h3>
  <div>
    <% for(let chat in data) { %>

      <h2><b><a href="/chats/<%= data[chat]['id'] %>"><%= data[chat]['from_name'] %> for <%= data[chat]['name'] %> </a></b></h2>
    <% } %>
    </div>

</html>
