<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
</head>

<body>

  <header>
    <%- include('partials/_header') %>
  </header>

  <main>
    <div class="card">
      <a href="/categories/Running%20Shoes">
        <img class='shoe-img'
          src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.omegasports.com%2Fprodimages%2F5731-DEFAULT-l.jpg&f=1&nofb=1'
          alt="men's running shoes">
        <div class="container">
          <p>Men's Running</p>
        </div>
      </a>
    </div>

    <div class="card">
      <a href="/categories/Casual%20Shoes">
        <img class='shoe-img'
          src='https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimage.sportsmansguide.com%2Fadimgs%2Fl%2F1%2F163508_ts.jpg&f=1&nofb=1'
          alt="men's casual shoes">
        <div class="container">
          <p>Men's Casual</p>

        </div>
      </a>
    </div>

    <div class="card">
      <a href="/categories/Basketball%20Shoes">
        <img class='shoe-img'
        src='https://m.media-amazon.com/images/I/71Q3Q3KQk7L._AC_UL320_.jpg' alt="men's basketball shoes">
        <div class="container">
          <p>Men's Basketball</p>
        </div>
      </a>
    </div>

  </main>
</body>

</html>
