<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <!-- header styling -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/universal_layout.css" type="text/css" />
</head>
<header>
  <%- include('partials/_header') %>
</header>

<body>
  <h1>Please enter your login information</h1>

  <main style="margin: 1em;">
    <form class="form-inline" action="/login" method="POST">
      <div class="form-group mb-2">
        <h3>Email</h3>
        <input type="email" class="form-control" name="email" placeholder="Please enter your email"
          style="width: 300px; margin: 1em" required><br><br>
        <h3>Password</h3>
        <input type="password" class="form-control" name="password" placeholder="Please enter your password"
          style="width: 300px; margin: 1em" required><br><br>
        <button type="submit" class="button">Submit</button>
      </div>
    </form>
  </main>
</body>

</html>

<!-- /:login

  Does not show "sign in/out" on header partial

  POST Input fields for name/password
  returns an error message if invalid entry,
  else redirects to /home, showing "signed in as [name]" and a sign out button, posting to /logout

-->
