<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <!-- header styling -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
</head>
<%- include('partials/_header') %>
  <!-- /:login

  Does not show "sign in/out" on header partial

  POST Input fields for name/password
  returns an error message if invalid entry,
  else redirects to /home, showing "signed in as [name]" and a sign out button, posting to /logout

-->
  <main style="margin: 1em;">
    <h3>Please enter your login information</h3>

    <form class="form-inline" action="/login" method="POST">
      <div class="form-group mb-2">
        <input type="email" class="form-control" name="email" placeholder="Please enter your name"
          style="width: 300px; margin: 1em" required><br><br>
        <input type="password" class="form-control" name="password" placeholder="Please enter your password"
          style="width: 300px; margin: 1em" required><br><br>
        <button type="submit" class="btn btn-primary">Submit</button>

      </div>
    </form>

    </body>

  </main>


</html>
