<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

</head>

<header>
  <%- include('partials/_header') %>
</header>

<h2>Create new post</h2>

<main style="margin: 1em;">
  <form class="form-inline" action="/new-post" method="POST">
    <div class="form-group mb-2">
      <label for="longURL">Enter a URL:</label>
      <input class="form-control" type="text" name="Name">
      <input class="form-control" type="text" name="Brand">
      <input class="form-control" type="number" name="Size">
      <input class="form-control" type="text" name="Colour">
      <input class="form-control" type="text" name="Description">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</main>


</html>


<!-- /new page, make new post



    input POST for new product
      fields: Name, Brand, Size, Colour, Shoe Description, Photo

    sends back error message when making illegitamite input/empty fields are left
    if successful, will add shoe to products database, and redirect to /:sellerid page, now with new item


    will not show "make new post" button on footer

  -->
