body {
  display: flex;
  flex-direction: row;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  align-items: center;
}

p {
  color: red;
}

.run_cat {
  height: auto;
  width: 30%;
  border-width: 3px;
  border-color:red;
}
.casual_cat {
  height: auto;
  width: 10%;
}
.basketball_cat {
  height:30px;
  width:10%
}
