// See: https://sass-lang.com/


body{
  background-color: #ffffff;
}
main {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #eef2f9;
  border-bottom: 3px #545149;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-width: 350px;
  background-color: #D2DDF4;
  padding: .8em;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.4);
}

.product-img {
  display: flex;
  align-items: center;
}

#price-and-val {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px;
}

#price-button {
  background-color: #4056A1;
  border: none;
  color: white;
  height: 55px;
  padding: 15px 32px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 30%;
}


.name-and-button {
  display: flex;
  justify-content: space-between;
  padding-right: 2.5%;
}


img {
  max-width: 350px;
  height: auto;
  background-color: #f8f9fa;
}



.filter-by {
  display: flex;
  flex-direction: column;
  padding: 0% 3%;
  width: 50%;
}



p {
  margin: 0;
  width: fit-content;
  font-size: 35px;
}

#price-and-val {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4056A1;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }





  button {
    border: none;
    background-color: inherit;
  }

  i:hover {
    transition: 0.3s;
    color: blue;
  }

.favourite {
  color: #ff0000;
}
