
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}



.nav-item {
  float: left;
  display: block;
  color: rgb(68, 10, 10);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
}

