.bg-light {
  background-color: #f8f9fa!important;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin-bottom: 30px;
}
