
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(183, 201, 236);
  // text-decoration:none;
}



.nav-item {
  float: left;
  display: block;
  color: rgb(68, 10, 10);
  text-align: center;
  padding: 14px 16px;
  text-decoration:none !important;
  font-size: 50px;
}

.nav-item:hover:not(.active) {
  background-color: #111;
}
