body{
  background-color: #aeb6c2;
  padding: 25px 30px 40px;
}
main {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #eef2f9;
  border-bottom: 3px #545149;
  justify-content: space-evenly;
}
